# Python
__pycache__/
*.py[cod]

# Poetry
poetry.lock

# Chaves de API
*.json

# Imagens
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
data/BID Sample Dataset/*  # Ignorar imagens específicas dessa pasta

# Resultados gerados
results/output.json

# Outros
.env
